In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso

In [2]:
data = pd.read_csv("energydata_complete.csv")

In [3]:
data.head(10)

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.890000,47.596667,19.20,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.500000,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.890000,46.693333,19.20,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.600000,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.890000,46.300000,19.20,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.700000,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.890000,46.066667,19.20,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.800000,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.890000,46.333333,19.20,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.900000,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
5,2016-01-11 17:50:00,50,40,19.890000,46.026667,19.20,44.500000,19.79,44.933333,18.890000,...,17.000000,45.29,6.016667,734.000000,92.000000,5.333333,43.833333,4.800000,44.919484,44.919484
6,2016-01-11 18:00:00,60,50,19.890000,45.766667,19.20,44.500000,19.79,44.900000,18.890000,...,17.000000,45.29,5.900000,734.100000,92.000000,5.000000,40.000000,4.700000,47.233763,47.233763
7,2016-01-11 18:10:00,60,50,19.856667,45.560000,19.20,44.500000,19.73,44.900000,18.890000,...,17.000000,45.29,5.916667,734.166667,91.833333,5.166667,40.000000,4.683333,33.039890,33.039890
8,2016-01-11 18:20:00,60,40,19.790000,45.597500,19.20,44.433333,19.73,44.790000,18.890000,...,17.000000,45.29,5.933333,734.233333,91.666667,5.333333,40.000000,4.666667,31.455702,31.455702
9,2016-01-11 18:30:00,70,40,19.856667,46.090000,19.23,44.400000,19.79,44.863333,18.890000,...,17.000000,45.29,5.950000,734.300000,91.500000,5.500000,40.000000,4.650000,3.089314,3.089314

In [4]:
data.describe()

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
count,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,...,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
mean,97.694958,3.801875,21.686571,40.259739,20.341219,40.420420,22.267611,39.242500,20.855335,39.026904,...,19.485828,41.552401,7.411665,755.522602,79.750418,4.039752,38.330834,3.760707,24.988033,24.988033
std,102.524891,7.935988,1.606066,3.979299,2.192974,4.069813,2.006111,3.254576,2.042884,4.341321,...,2.014712,4.151497,5.317409,7.399441,14.901088,2.451221,11.794719,4.194648,14.496634,14.496634
min,10.000000,0.000000,16.790000,27.023333,16.100000,20.463333,17.200000,28.766667,15.100000,27.660000,...,14.890000,29.166667,-5.000000,729.300000,24.000000,0.000000,1.000000,-6.600000,0.005322,0.005322
25%,50.000000,0.000000,20.760000,37.333333,18.790000,37.900000,20.790000,36.900000,19.530000,35.530000,...,18.000000,38.500000,3.666667,750.933333,70.333333,2.000000,29.000000,0.900000,12.497889,12.497889
50%,60.000000,0.000000,21.600000,39.656667,20.000000,40.500000,22.100000,38.530000,20.666667,38.400000,...,19.390000,40.900000,6.916667,756.100000,83.666667,3.666667,40.000000,3.433333,24.897653,24.897653
75%,100.000000,0.000000,22.600000,43.066667,21.500000,43.260000,23.290000,41.760000,22.100000,42.156667,...,20.600000,44.338095,10.408333,760.933333,91.666667,5.500000,40.000000,6.566667,37.583769,37.583769
max,1080.000000,70.000000,26.260000,63.360000,29.856667,56.026667,29.236000,50.163333,26.200000,51.090000,...,24.500000,53.326667,26.100000,772.300000,100.000000,14.000000,66.000000,15.500000,49.996530,49.996530

In [5]:
data.isnull().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [6]:
lr = LinearRegression()

In [7]:
data.columns

Index(['date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

In [8]:
data.drop(['date', 'lights'], axis = 1, inplace = True)

In [9]:
data.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [10]:
D = data.drop('Appliances', axis = 1)
T = data['Appliances']

In [11]:
data.columns

Index(['Appliances', 'T1', 'RH_1', 'T2', 'RH_2', 'T3', 'RH_3', 'T4', 'RH_4',
       'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8', 'RH_8', 'T9', 'RH_9',
       'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed', 'Visibility',
       'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

In [12]:
scaler = MinMaxScaler()

In [13]:
data = scaler.fit_transform(D)

In [14]:
X_train, X_test, Y_train, Y_test = train_test_split(D, T, test_size = 0.3, random_state = 42)

In [15]:
X_train

,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,RH_5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
9129,21.500000,35.626667,17.790000,40.590000,21.700000,35.26,20.39,33.863333,19.600000,40.425,...,19.463333,38.260000,0.250000,766.400000,83.000000,2.000000,65.000000,-2.350000,36.226675,36.226675
2453,19.500000,44.560000,18.700000,44.290000,19.823333,44.50,18.10,43.860000,17.200000,52.000,...,17.200000,46.163333,3.166667,765.266667,85.333333,2.000000,40.000000,0.966667,43.199767,43.199767
9152,20.790000,35.400000,16.890000,42.030000,21.700000,36.00,19.70,33.200000,19.290000,39.900,...,19.390000,39.067500,-1.566667,766.000000,89.333333,1.333333,60.666667,-3.100000,24.976055,24.976055
12694,22.100000,43.260000,19.963333,45.500000,23.390000,39.79,21.10,39.060000,20.660000,58.054,...,20.290000,37.400000,8.833333,753.366667,81.000000,1.666667,26.000000,5.733333,16.161125,16.161125
16952,24.700000,42.360000,29.856667,31.790000,26.171429,38.59,25.10,39.760000,23.166667,60.130,...,23.100000,44.466667,21.433333,752.100000,51.000000,2.000000,40.000000,10.800000,17.055346,17.055346
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11284,21.760000,40.900000,19.390000,43.090000,23.000000,39.00,21.50,39.790000,20.100000,46.500,...,20.356667,40.560000,9.566667,750.466667,77.666667,6.666667,40.000000,5.833333,45.513197,45.513197
11964,22.390000,43.700000,22.000000,42.066667,22.700000,41.23,21.29,44.120000,19.700000,48.790,...,20.290000,44.290000,17.300000,749.500000,66.000000,2.000000,40.000000,10.900000,34.934752,34.934752
5390,20.290000,35.700000,18.200000,37.590000,20.100000,37.59,18.20,35.290000,18.500000,40.572,...,17.890000,39.466667,-1.066667,754.900000,87.000000,3.666667,62.666667,-2.933333,19.071358,19.071358
860,21.790000,35.560000,20.434000,35.116000,21.200000,36.90,21.10,35.663333,18.050000,46.145,...,18.500000,41.466667,2.066667,765.033333,64.333333,1.333333,40.000000,-4.066667,1.050592,1.050592
15795,21.323333,37.730000,19.890000,38.566667,22.700000,36.59,19.70,39.433333,19.200000,42.590,...,19.390000,41.266667,6.650000,758.650000,85.500000,1.000000,40.000000,4.350000,17.456040,17.456040

In [16]:
X_train.columns

Index(['T1', 'RH_1', 'T2', 'RH_2', 'T3', 'RH_3', 'T4', 'RH_4', 'T5', 'RH_5',
       'T6', 'RH_6', 'T7', 'RH_7', 'T8', 'RH_8', 'T9', 'RH_9', 'T_out',
       'Press_mm_hg', 'RH_out', 'Windspeed', 'Visibility', 'Tdewpoint', 'rv1',
       'rv2'],
      dtype='object')

In [17]:
running = lr.fit(X_train, Y_train)

In [18]:
pred = running.predict(X_test)

In [19]:
pred

array([ 45.54761868, 271.20410666,  46.38025696, ...,  83.23836265,
       117.34588177,  71.22751965])

### Q: What is the Mean Absolute Error (in two decimal places)?

In [20]:
mean_absolute_error(Y_test, pred)

53.642977655849585

### Q: What is the Root Mean Squared Error (in three decimal places)?

In [21]:
mean_squared_error(Y_test, pred)

8768.535925051976

### Q: What is the Residual Sum of Squares (in two decimal places)?

In [22]:
np.sqrt(mean_squared_error(Y_test, pred))

93.6404609399803

### Q: Obtain the feature weights from your linear model above. Which features have the lowest and highest weights respectively?

In [23]:
importance = running.coef_

In [24]:
for i,v in enumerate(importance):
    print('Feature: %0d, Score: %.5f' % (i,v))

Feature: 0, Score: -0.37072
Feature: 1, Score: 16.30020
Feature: 2, Score: -18.37003
Feature: 3, Score: -13.74075
Feature: 4, Score: 25.83674
Feature: 5, Score: 4.80316
Feature: 6, Score: 2.79366
Feature: 7, Score: 1.20498
Feature: 8, Score: -1.60084
Feature: 9, Score: 0.25751
Feature: 10, Score: 7.36355
Feature: 11, Score: 0.41165
Feature: 12, Score: 1.04063
Feature: 13, Score: -1.69279
Feature: 14, Score: 9.99097
Feature: 15, Score: -5.77886
Feature: 16, Score: -21.14845
Feature: 17, Score: -1.76268
Feature: 18, Score: -11.07363
Feature: 19, Score: 0.17019
Feature: 20, Score: -1.09352
Feature: 21, Score: 2.23042
Feature: 22, Score: 0.20259
Feature: 23, Score: 5.70139
Feature: 24, Score: 0.01648
Feature: 25, Score: 0.01648

### Q: What is the Coefficient of Determination (in two decimal places)?

In [25]:
lr.score(X_train, Y_train)

0.14471942308518737

### Q: What is the Root Mean Squared Error (in three decimal places)?

In [26]:
r2_score(Y_test, pred)

0.14890246319303524

### Q: Train a ridge regression model with an alpha value of 0.4. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?

In [27]:
model_r = Ridge(alpha = 0.4)

In [28]:
model_r.fit(X_train, Y_train)

Ridge(alpha=0.4)

In [29]:
pred_ridge = model_r.predict(X_test)

In [30]:
mean_squared_error(Y_test, pred_ridge)

8768.543986942277

### Q: Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it. How many of the features have non-zero feature weights?

In [31]:
lasso_r = Lasso(alpha = 0.001)

In [32]:
lasso_tr = lasso_r.fit(X_train, Y_train)

/Users/onyekachukwuokonji/opt/anaconda3/lib/python3.9/site-packages/sklearn/linear_model/_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 6.136e+06, tolerance: 1.464e+04
  model = cd_fast.enet_coordinate_descent(

In [33]:
lasso_tr.n_features_in_

26

### Q: What is the new RMSE with the lasso regression? (Answer should be in three (3) decimal places)

In [34]:
lasso_pred = lasso_tr.predict(X_test)

In [35]:
mean_squared_error(Y_test, lasso_pred)

8768.539068085514